.main-section {
    display: flex;
    flex-direction: row;
    background-color: $beige-100;
    padding: 31px 310px 67px 247px;
    gap: 58px;
}

.dog-img-container {
    width: 100%;
    padding-top: 167px;
}

.main-section-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 191px 0 0 0;
}
