.sale-poster-section {
    display: flex;
    flex-direction: row;
    row-gap: 120px;
    background-color: $beige-100;
    padding: 37px 269px 27px 420px;
}

.poster-right-side {
    padding: 184px 120px 184px 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.poster-discount {
    font-size: 36px;
    color: $gold;
    font-family: $font-family-montserrat;
}

.poster-sale {
    font-size: 75px;
    color: $brown-100;
    font-family: $font-family-chilanka;
}

.poster-right-side button {
    background-color: $beige-100;
    padding: 28px 50px;
    align-self: flex-start;
}

.poster-left-side {
    width: 100%;
    padding-top: 51px;
}

.ellipse-poster-section {
    position: relative;
    width: 648px;
    min-height: 648px;
    border-radius: 50%;
    background-color: #f7eee4;
    overflow: visible;
}

.ellipse-poster-section img {
    position: absolute;
    height: 669px;
    width: 451px;
    top: -81px;
    left: 82px;
    right: 115px;
    bottom: 0;
    object-fit: cover;
}
