.sale-poster-section {
    background-color: $beige-100;
    display: inline-flex;
    gap: 120px;
    width: 100%;
    padding: 37px 269px 27px 420px;
}

.poster-right-side {
    padding: 184px 0 184px 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.poster-discount {
    font-size: 36px;
    color: $gold;
    font-family: $font-family-montserrat;
}

.poster-sale {
    font-size: 75px;
    color: $brown-100;
    font-family: $font-family-chilanka;
}

.poster-right-side button {
    background-color: $beige-100;
    padding: 28px 50px;
    align-self: flex-start;
}

.sale-poster-img{
    padding: 0 50px 0 50px;
}

@media (max-width: 850px) {
    .sale-poster-section{
        flex-direction: column;
        row-gap: 0;
        padding: 10px 20px;
    }

    .poster-right-side{
        padding: 30px;
        text-align: center;
    }

    .poster-sale{
        font-size: 60px;
    }
}
