@charset "UTF-8";
p {
  margin: 0;
}

body {
  width: 100%;
}

a {
  color: #41403E;
  text-decoration: none;
}

h1 {
  font-size: 88px;
  font-weight: 400;
  color: #41403E;
  font-family: "Chilanka", cursive;
  letter-spacing: 2.64px;
  text-transform: capitalize;
}

.goods-section,
.best-selling-section,
.blog-posts-section,
.footer {
  padding: 150px 310px;
  font-family: "Chilanka", cursive;
}

h2 {
  font-size: 55px;
  font-weight: 400;
  letter-spacing: 0.55px;
  text-transform: capitalize;
}

.pet-clothing-section,
.pet-foodies-section,
.best-selling-section {
  padding-top: 150px;
}

.goods-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
  align-items: center;
  padding-bottom: 30px;
}

.goods-header button {
  padding: 28px 50px;
}

.shop-btn {
  display: flex;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #41403E;
  background-color: white;
  color: #41403e;
  font-family: "Chilanka", cursive;
  font-size: 19px;
  text-transform: uppercase;
  cursor: pointer;
}

.shop-btn i {
  padding-left: 6px;
}

.footer {
  padding: 150px 350px 30px 350px;
}

.circle {
  height: 45px;
  width: 45px;
  border-radius: 70px;
  display: flex;
}

.gray-border {
  border: 1px solid #D9D9D8;
}

.gold {
  background-color: #DEAD6F;
}

.circle img {
  margin: auto;
}

@media (max-width: 850px) {
  .desktop-only {
    display: none !important;
  }
  .goods-section,
  .best-selling-section,
  .blog-posts-section,
  .footer {
    padding: 50px 20px;
    font-family: "Chilanka", cursive;
  }
  .pet-clothing-section,
  .pet-foodies-section,
  .best-selling-section {
    padding-top: 80px;
  }
  h2 {
    font-size: 26px;
  }
  .goods-header button {
    padding: 10px 20px;
  }
}
@media (min-width: 851px) {
  .mobile-only {
    display: none !important;
  }
}
.top-header-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 28px 310px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  letter-spacing: 0.9px;
  color: #A3A2A1;
}

.logo-container {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.waggy-logo-text {
  font-family: "Chilanka", cursive;
  font-size: 35px;
  letter-spacing: 1.05px;
  text-transform: uppercase;
  color: #41403E;
}

.line {
  border-top: 1px solid #EDEDED;
}

.bottom-header-section {
  display: flex;
  padding: 20px 310px;
  justify-content: space-between;
  font-family: "Chilanka", cursive;
}

nav {
  gap: 50px;
  display: flex;
  padding-left: 189px;
  padding-right: 228px;
}

.nav-icons {
  gap: 40px;
  display: flex;
  flex-direction: row;
}

.contacts-container {
  display: flex;
  flex-direction: row;
  gap: 67px;
  padding: 5px 0;
}

.contacts-container div {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.contact {
  font-family: "Chilanka", cursive;
  font-size: 19px;
  color: #41403E;
}

.nav-icons i {
  display: flex;
}

@media (max-width: 850px) {
  .top-header-section,
  .bottom-header-section {
    padding: 20px;
  }
}
.main-section {
  background-color: #F9F3EC;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 31px 310px 67px 247px;
  gap: 50px;
}

.main-section-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 191px;
}

.sale-text {
  color: #DEAD6F;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

h1 span {
  color: #DEAD6F;
}

.main-section-header button {
  align-self: flex-start;
  padding: 28px 50px;
  background-color: #F9F3EC;
}

.dog-img-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dog-img {
  display: inline-block;
  z-index: 1;
}

.dog-img-container::before {
  position: absolute;
  top: auto;
  right: 0;
  left: 0;
  bottom: 0;
  margin: 0 auto;
  width: auto;
  height: 606px;
  border-radius: 50%;
  background-color: #F7EEE4;
  content: "";
}

@media (max-width: 850px) {
  .desktop-only {
    display: none !important;
  }
  .main-section {
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  h1 {
    font-size: 40px;
  }
  .main-section-header {
    display: flex;
    text-align: center;
    align-items: center;
    padding-top: 40px;
  }
  .dog-img {
    height: 500px;
  }
  .dog-img-container::before {
    width: auto;
    height: 350px;
  }
  .center-btn {
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .col-span-2 {
    grid-column: span 2;
  }
}
.category-section {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  -moz-column-gap: auto;
       column-gap: auto;
  row-gap: 16px;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: "Chilanka", cursive;
}

.category-section p {
  font-size: 26px;
}

.category-section img {
  display: block;
  margin: 0 auto;
}

@media (max-width: 850px) {
  .category-section {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 5px;
  }
}
.card {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  row-gap: 45px;
}

.card-header {
  border-radius: 10px;
  height: 283px;
  background: #eeebe5;
}

.dog-card {
  padding: 0 20px;
}

.card-header img {
  height: 100%;
  width: 100%;
}

.goods-card-description i {
  color: #DEAD6F;
}

.card-description-header {
  padding-bottom: 4px;
  font-size: 26px;
}

.price {
  font-family: "Montserrat", sans-serif;
  font-size: 26px;
  padding-top: 7px;
  padding-bottom: 18px;
  color: #DEAD6F;
}

.add-to-cart-btn {
  padding: 20px 32px;
}

.card-buttons {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

.card-buttons i {
  color: black;
  padding-left: 0;
}

.heart-btn {
  padding: 20px;
}

.food-card {
  padding: 40px 60px;
}

.rating {
  font-size: 15px;
  color: #908F8D;
  font-family: "Montserrat", sans-serif;
  padding-left: 6px;
}

@media (max-width: 850px) {
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    row-gap: 30px;
  }
  .add-to-cart-btn {
    padding: 5px 10px;
  }
  .card-description-header {
    font-size: 16px;
  }
  .card-header {
    height: 200px;
  }
  .food-card {
    padding: 15px 20px;
  }
  .dog-card {
    padding: 0 10px;
  }
}
.sale-poster-section {
  background-color: #F9F3EC;
  display: inline-flex;
  gap: 120px;
  width: 100%;
  padding: 37px 269px 27px 420px;
}

.poster-right-side {
  padding: 184px 0 184px 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.poster-discount {
  font-size: 36px;
  color: #DEAD6F;
  font-family: "Montserrat", sans-serif;
}

.poster-sale {
  font-size: 75px;
  color: #41403E;
  font-family: "Chilanka", cursive;
}

.poster-right-side button {
  background-color: #F9F3EC;
  padding: 28px 50px;
  align-self: flex-start;
}

.sale-poster-img {
  padding: 0 50px 0 50px;
}

@media (max-width: 850px) {
  .sale-poster-section {
    flex-direction: column;
    row-gap: 0;
    padding: 10px 20px;
  }
  .poster-right-side {
    padding: 30px;
    text-align: center;
  }
  .poster-sale {
    font-size: 60px;
  }
}
.blog-card-header {
  font-size: 26px;
  text-transform: capitalize;
  padding-bottom: 6px;
}

.inst-imgs-section {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px;
  padding: 0 10px;
}

.inst-imgs-section img {
  max-width: 100%;
  height: auto;
}

.blog-description {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #908F8D;
}

.blog-posts-section .cards-container .card img {
  max-width: 100%; /* Картинка будет сжиматься до 100% ширины родительского элемента */
  height: auto; /* Сохранит пропорции при сжатии */
}

.blog-posts-section .cards-container {
  display: flex;
  grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 850px) {
  .blog-posts-section .cards-container {
    display: flex;
    flex-direction: column;
  }
}
.register-section {
  display: flex;
  flex-direction: row;
  background-color: #F9F3EC;
  padding: 0 310px 0 336px;
  font-family: "Chilanka", cursive;
}

.register-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 150px 122px 150px 62px;
  text-align: center;
}

.register-header {
  font-size: 55px;
  letter-spacing: 0.55px;
  text-transform: capitalize;
  padding-bottom: 20px;
}

.register-header span {
  color: #DEAD6F;
}

.register-form input {
  border-radius: 4px;
  padding: 20px;
  border: 1px solid rgba(65, 64, 62, 0.2);
}

.register-form input::-moz-placeholder {
  font-size: 17px;
  text-transform: capitalize;
  font-family: "Chilanka", cursive;
}

.register-form input::placeholder {
  font-size: 17px;
  text-transform: capitalize;
  font-family: "Chilanka", cursive;
}

.register-btn {
  padding: 28px 50px;
  background-color: #41403E;
}

.register-btn p {
  font-size: 19px;
  color: white;
  text-transform: uppercase;
  font-family: "Chilanka", cursive;
}

.right-print {
  padding: 418px 0 79px 0;
}

.left-print {
  padding: 81px 0 382px 0;
}

@media (max-width: 850px) {
  .register-form,
  .register-section {
    padding: 50px 20px;
  }
}
.contact-icons {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 10px;
       column-gap: 10px;
  row-gap: 20px;
  padding-top: 10px;
  flex-wrap: wrap;
}

.enter-email-input {
  border-radius: 50px;
  background-color: white;
  padding: 11px 31px;
}

.enter-email::-moz-placeholder {
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  color: #D9D9D8;
}

.enter-email::placeholder {
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  color: #D9D9D8;
}

.footer-menu {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: #908F8D;
}

.credentials {
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 850px) {
  .contact-icons {
    justify-content: center;
  }
  .footer {
    text-align: center;
  }
  .footer .logo-container {
    justify-content: center;
  }
  .credentials {
    display: flex;
    flex-direction: column;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
}/*# sourceMappingURL=main.css.map */